[gcode_macro SENSORLESS_HOME_X]
gcode:
    {% set HOME_CUR = 0.700 %}
    {% set driver_config = printer.configfile.settings['tmc2209 stepper_x'] %}
    {% set RUN_CUR = driver_config.run_current %}
    # Set current for sensorless homing
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
    # Pause to ensure driver stall flag is clear
    G4 P2000
    # Home
    G28 X0
    # Move away
    G90
    G1 X5 F1200
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR}

[homing_override]
set_position_z: 0
set_position_x: 0
gcode:
  #Lifting Z by 5mm
  G0 Z5 f1000
  G0 X2
  SENSORLESS_HOME_X
  #Homing Y
   G28 Y
  #Moving to center-back of the bed
   G0 x150 y280
  #Homing Z
   G28 Z
