[gcode_macro PRINT_START]
gcode:
    {% set BED = params.BED|default(55)|float %}
    {% set EXTRUDER = params.EXTRUDER|default(190)|float %}
    # Use absolute coordinates
    G90
    # Start bed heating
    M140 S{BED}
    # Home the printer and adjust Z tilt
    G28
    Z_TILT_ADJUST
    # Wait for bed to reach temperature
    M190 S{BED}
    # Set nozzle to temperature
    M104 S{EXTRUDER}
    # Mesh print area
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE LOAD=default
    # Park near print area and wait for nozzle to reach temperature
    Smart_Park
    M109 S{EXTRUDER}
    #Prime the extruder
    LINE_PURGE
    #Start GCode end

[gcode_macro PRINT_END]
gcode:
    # Turn off bed, extruder, and fan
    G91
    G1 E-5 F6000
    TURN_OFF_HEATERS
    M107
    # Move nozzle away from print while retracting
    M106 S255
    G4 P5000
    M106 S0
    G91
    G1 E-5 F6000
    {% if printer.toolhead.position.z < printer.configfile.settings.stepper_z.position_max + 80 %}
        G91
        G1 Z80 F600
    {% endif %}
    G90
    {% set max_y = printer.configfile.settings.stepper_y.position_max|int %}
    PARK P=2 X=0 Y={max_y} Z=20 LAZY=1
    # Disable steppers
    M84


[gcode_macro M600]
gcode:
    PAUSE X=150 Y=0 Z_MIN=50
    M117 Change filament

[gcode_macro M601]
gcode:
    PAUSE